src/serna/schemas/story.xsd

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
 <xs:annotation>
  -- This schema was automatically generated by Syntext Dtd2Schema --
  -- conversion tool (from file: dtds/story.dtd) --
  -- Copyright (C) 2002, 2003 Syntext Inc. See http://www.syntext.com for updates. --
 </xs:annotation>
 <xs:attributeGroup name='ref-r'>
  <xs:attribute name='ref' use='required'/>
 </xs:attributeGroup>
 <xs:attributeGroup name='ref-i'>
  <xs:attribute name='ref'/>
 </xs:attributeGroup>
 <xs:attributeGroup name='id'>
  <xs:attribute name='id' use='required'/>
 </xs:attributeGroup>
 <xs:attributeGroup name='status'>
  <xs:attribute name='status'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='draft'/>
     <xs:enumeration value='in-progress'/>
     <xs:enumeration value='done'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
 </xs:attributeGroup>
 <xs:element name='author'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='b'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='link'/>
    <xs:element ref='i'/>
    <xs:element ref='tt'/>
   </xs:choice>
  </xs:complexType>
 </xs:element>
 <xs:element name='book'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='title'/>
     <xs:element ref='cvs-source' minOccurs='0'/>
     <xs:element ref='cvs-revision' minOccurs='0'/>
     <xs:element ref='cvs-date' minOccurs='0'/>
     <xs:element ref='pub-date'/>
     <xs:element ref='meta-description' minOccurs='0'/>
     <xs:element ref='meta-keywords' minOccurs='0'/>
     <xs:element ref='edition'/>
     <xs:element ref='author'/>
     <xs:element ref='email' minOccurs='0'/>
     <xs:element ref='url' minOccurs='0'/>
     <xs:element ref='dir'/>
     <xs:element ref='file-prefix'/>
     <xs:element ref='def-who' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='def-where' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='def-thread' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='teaser' minOccurs='0'/>
     <xs:element ref='preface' minOccurs='0'/>
     <xs:element ref='epilog' minOccurs='0'/>
     <xs:element ref='ch-preface' minOccurs='0'/>
     <xs:element ref='chapter' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attributeGroup ref='id'/>
  <xs:attributeGroup ref='status'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='ch-no'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='ch-preface'>
  <xs:complexType>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='p'/>
     <xs:element ref='pre'/>
     <xs:element ref='s'/>
     <xs:element ref='t'/>
   </xs:choice>
  </xs:complexType>
 </xs:element>
 <xs:element name='chapter'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='title'/>
     <xs:element ref='cvs-source' minOccurs='0'/>
     <xs:element ref='cvs-revision' minOccurs='0'/>
     <xs:element ref='cvs-date' minOccurs='0'/>
     <xs:element ref='pub-date'/>
     <xs:element ref='ch-no'/>
     <xs:element ref='prolog' minOccurs='0'/>
     <xs:element ref='postlog' minOccurs='0'/>
     <xs:element ref='unit' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attributeGroup ref='id'/>
  <xs:attributeGroup ref='status'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='content'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='site'/>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='page'/>
       <xs:element ref='book'/>
     </xs:choice>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='cvs-date'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='cvs-revision'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='cvs-source'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='def-img'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='id'/>
  <xs:attribute name='url' use='required'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='def-link'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='id'/>
  <xs:attribute name='url' use='required'/>
  <xs:attributeGroup ref='ref-i'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='def-thread'>
  <xs:complexType>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='p'/>
     <xs:element ref='pre'/>
     <xs:element ref='s'/>
     <xs:element ref='t'/>
   </xs:choice>
  <xs:attributeGroup ref='id'/>
  <xs:attribute name='default'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='start-unit'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='def-where'>
  <xs:complexType>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='p'/>
     <xs:element ref='pre'/>
     <xs:element ref='s'/>
     <xs:element ref='t'/>
   </xs:choice>
  <xs:attributeGroup ref='id'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='def-who'>
  <xs:complexType>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='p'/>
     <xs:element ref='pre'/>
     <xs:element ref='s'/>
     <xs:element ref='t'/>
   </xs:choice>
  <xs:attributeGroup ref='id'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='dir'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='duration'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='edition'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='email'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='end-date'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='epilog'>
  <xs:complexType>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='p'/>
     <xs:element ref='pre'/>
     <xs:element ref='s'/>
     <xs:element ref='t'/>
   </xs:choice>
  </xs:complexType>
 </xs:element>
 <xs:element name='file-prefix'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='i'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='link'/>
    <xs:element ref='b'/>
    <xs:element ref='tt'/>
   </xs:choice>
  </xs:complexType>
 </xs:element>
 <xs:element name='img'>
  <xs:complexType>
  <xs:attributeGroup ref='ref-r'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='item'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='title'/>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='p'/>
       <xs:element ref='pre'/>
       <xs:element ref='s'/>
       <xs:element ref='t'/>
     </xs:choice>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='link'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='ref-r'/>
  <xs:attribute name='style' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='title'/>
     <xs:enumeration value='label'/>
     <xs:enumeration value='url'/>
     <xs:enumeration value='all'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='meta-description'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='meta-keywords'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='outline'>
  <xs:complexType>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='p'/>
     <xs:element ref='pre'/>
     <xs:element ref='s'/>
     <xs:element ref='t'/>
   </xs:choice>
  </xs:complexType>
 </xs:element>
 <xs:element name='p'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='link'/>
    <xs:element ref='img'/>
    <xs:element ref='b'/>
    <xs:element ref='i'/>
    <xs:element ref='tt'/>
   </xs:choice>
  </xs:complexType>
 </xs:element>
 <xs:element name='page'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='title'/>
     <xs:element ref='cvs-source' minOccurs='0'/>
     <xs:element ref='cvs-revision' minOccurs='0'/>
     <xs:element ref='cvs-date' minOccurs='0'/>
     <xs:element ref='pub-date'/>
     <xs:element ref='meta-description' minOccurs='0'/>
     <xs:element ref='meta-keywords' minOccurs='0'/>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='p'/>
       <xs:element ref='pre'/>
       <xs:element ref='s'/>
       <xs:element ref='t'/>
     </xs:choice>
     <xs:element ref='sect1' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attributeGroup ref='id'/>
  <xs:attributeGroup ref='status'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='postlog'>
  <xs:complexType>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='p'/>
     <xs:element ref='pre'/>
     <xs:element ref='s'/>
     <xs:element ref='t'/>
   </xs:choice>
  </xs:complexType>
 </xs:element>
 <xs:element name='pre'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='link'/>
    <xs:element ref='img'/>
    <xs:element ref='b'/>
    <xs:element ref='i'/>
    <xs:element ref='tt'/>
   </xs:choice>
  </xs:complexType>
 </xs:element>
 <xs:element name='preface'>
  <xs:complexType>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='p'/>
     <xs:element ref='pre'/>
     <xs:element ref='s'/>
     <xs:element ref='t'/>
   </xs:choice>
  </xs:complexType>
 </xs:element>
 <xs:element name='prolog'>
  <xs:complexType>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='p'/>
     <xs:element ref='pre'/>
     <xs:element ref='s'/>
     <xs:element ref='t'/>
   </xs:choice>
  </xs:complexType>
 </xs:element>
 <xs:element name='pub-date'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='s'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='link'/>
    <xs:element ref='img'/>
    <xs:element ref='b'/>
    <xs:element ref='i'/>
    <xs:element ref='tt'/>
   </xs:choice>
  <xs:attributeGroup ref='ref-i'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='sect1'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='title'/>
     <xs:element ref='item' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='site'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='cvs-source' minOccurs='0'/>
     <xs:element ref='cvs-revision' minOccurs='0'/>
     <xs:element ref='cvs-date' minOccurs='0'/>
     <xs:element ref='pub-date'/>
     <xs:element ref='meta-description' minOccurs='0'/>
     <xs:element ref='meta-keywords' minOccurs='0'/>
     <xs:element ref='style' minOccurs='0'/>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='def-img'/>
       <xs:element ref='def-link'/>
     </xs:choice>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='start-date'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='style'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='img'/>
   </xs:sequence>
  <xs:attribute name='bgcolor'/>
  <xs:attribute name='text'/>
  <xs:attribute name='link'/>
  <xs:attribute name='vlink'/>
  <xs:attribute name='alink'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='t'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='link'/>
    <xs:element ref='img'/>
    <xs:element ref='b'/>
    <xs:element ref='i'/>
    <xs:element ref='tt'/>
   </xs:choice>
  <xs:attributeGroup ref='ref-r'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='teaser'>
  <xs:complexType>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='p'/>
     <xs:element ref='pre'/>
     <xs:element ref='s'/>
     <xs:element ref='t'/>
   </xs:choice>
  </xs:complexType>
 </xs:element>
 <xs:element name='thread'>
  <xs:complexType>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='p'/>
     <xs:element ref='pre'/>
     <xs:element ref='s'/>
     <xs:element ref='t'/>
   </xs:choice>
  <xs:attributeGroup ref='ref-r'/>
  <xs:attributeGroup ref='status'/>
  <xs:attribute name='next-unit'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='title'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='tt'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='link'/>
    <xs:element ref='b'/>
    <xs:element ref='i'/>
   </xs:choice>
  </xs:complexType>
 </xs:element>
 <xs:element name='unit'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='title'/>
     <xs:element ref='when' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='where' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='who' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='outline' minOccurs='0'/>
     <xs:element ref='thread' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attributeGroup ref='id'/>
  <xs:attributeGroup ref='status'/>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='scene'/>
     <xs:enumeration value='sequel'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='viewpoint'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='url'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='when'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='start-date'/>
     <xs:choice>
       <xs:element ref='duration'/>
       <xs:element ref='end-date'/>
     </xs:choice>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='where'>
  <xs:complexType>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='p'/>
     <xs:element ref='pre'/>
     <xs:element ref='s'/>
     <xs:element ref='t'/>
   </xs:choice>
  <xs:attributeGroup ref='ref-r'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='who'>
  <xs:complexType>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='p'/>
     <xs:element ref='pre'/>
     <xs:element ref='s'/>
     <xs:element ref='t'/>
   </xs:choice>
  <xs:attributeGroup ref='ref-r'/>
  </xs:complexType>
 </xs:element>
</xs:schema>
