src/style/schema.xsd

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
    <xs:annotation>-- This schema was automatically generated by Syntext
    Dtd2Schema -- -- conversion tool (from file: story.dtd) -- -- Copyright
    (C) 2002, 2003 Syntext Inc. See http://www.syntext.com for updates.
    --</xs:annotation>
    <xs:attributeGroup name='com-attr-req'>
        <xs:attribute name='condition' />
        <xs:attribute name='id'
                      use='required' />
        <xs:attribute name='lang' />
        <xs:attribute name='revision'
                      use='required'>
            <xs:simpleType>
                <xs:restriction base='xs:string'>
                    <xs:enumeration value='in-progress' />
                    <xs:enumeration value='draft' />
                    <xs:enumeration value='final' />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
 
        <xs:attribute name='revision-flag'>
            <xs:simpleType>
                <xs:restriction base='xs:string'>
                    <xs:enumeration value='changed' />
                    <xs:enumeration value='added' />
                    <xs:enumeration value='deleted' />
                    <xs:enumeration value='off' />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
 
    </xs:attributeGroup>
    <xs:attributeGroup name='com-attr'>
        <xs:attribute name='condition' />
        <xs:attribute name='id' />
        <xs:attribute name='lang' />
        <xs:attribute name='revision'>
            <xs:simpleType>
                <xs:restriction base='xs:string'>
                    <xs:enumeration value='in-progress' />
                    <xs:enumeration value='draft' />
                    <xs:enumeration value='final' />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
 
        <xs:attribute name='revision-flag'>
            <xs:simpleType>
                <xs:restriction base='xs:string'>
                    <xs:enumeration value='changed' />
                    <xs:enumeration value='added' />
                    <xs:enumeration value='deleted' />
                    <xs:enumeration value='off' />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
 
    </xs:attributeGroup>
    <xs:attributeGroup name='ref-r'>
        <xs:attribute name='ref'
                      use='required' />
    </xs:attributeGroup>
    <xs:attributeGroup name='id'>
        <xs:attribute name='id'
                      use='required' />
    </xs:attributeGroup>
    <xs:attributeGroup name='date-time'>
        <xs:attribute name='year' />
        <xs:attribute name='month'>
            <xs:simpleType>
                <xs:restriction base='xs:string'>
                    <xs:enumeration value='1' />
                    <xs:enumeration value='2' />
                    <xs:enumeration value='3' />
                    <xs:enumeration value='4' />
                    <xs:enumeration value='5' />
                    <xs:enumeration value='6' />
                    <xs:enumeration value='7' />
                    <xs:enumeration value='8' />
                    <xs:enumeration value='9' />
                    <xs:enumeration value='10' />
                    <xs:enumeration value='11' />
                    <xs:enumeration value='12' />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
 
        <xs:attribute name='day' />
        <xs:attribute name='hour' />
        <xs:attribute name='min'
                      use='required' />
        <xs:attribute name='gmt' />
    </xs:attributeGroup>
    <xs:element name='abstract'>
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs='0'
                           maxOccurs='unbounded'>
                    <xs:element ref='para' />
                    <xs:element ref='pre-fmt' />
                    <xs:element ref='quote' />
                    <xs:element ref='br' />
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
    <xs:element name='address'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='street'
                            minOccurs='0'
                            maxOccurs='unbounded' />
                <xs:element ref='pob'
                            minOccurs='0' />
                <xs:element ref='city'
                            minOccurs='0' />
                <xs:element ref='state'
                            minOccurs='0' />
                <xs:element ref='post-code'
                            minOccurs='0' />
                <xs:element ref='country'
                            minOccurs='0' />
                <xs:element ref='phone'
                            minOccurs='0'
                            maxOccurs='unbounded' />
                <xs:element ref='fax'
                            minOccurs='0' />
                <xs:element ref='email'
                            minOccurs='0'
                            maxOccurs='unbounded' />
                <xs:element ref='other-addr'
                            minOccurs='0'
                            maxOccurs='unbounded' />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
    <xs:element name='affiliation'>
        <xs:complexType mixed='true'>
            <xs:attributeGroup ref='com-attr' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='author'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='honorific'
                            minOccurs='0' />
                <xs:element ref='first-name' />
                <xs:element ref='surname' />
                <xs:element ref='linage'
                            minOccurs='0' />
                <xs:element ref='other-name'
                            minOccurs='0' />
                <xs:element ref='affiliation'
                            minOccurs='0' />
                <xs:element ref='email'
                            minOccurs='0' />
                <xs:element ref='author-blurb'
                            minOccurs='0' />
            </xs:sequence>
            <xs:attributeGroup ref='com-attr-req' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='author-blurb'>
        <xs:complexType>
            <xs:choice minOccurs='0'
                       maxOccurs='unbounded'>
                <xs:element ref='para' />
                <xs:element ref='pre-fmt' />
                <xs:element ref='quote' />
                <xs:element ref='br' />
            </xs:choice>
            <xs:attributeGroup ref='com-attr' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='author-group'>
        <xs:complexType>
            <xs:choice minOccurs='0'
                       maxOccurs='unbounded'>
                <xs:element ref='author' />
                <xs:element ref='coauthor' />
                <xs:element ref='editor' />
            </xs:choice>
        </xs:complexType>
    </xs:element>
 
    <xs:element name='b'>
        <xs:complexType mixed='true'>
            <xs:choice minOccurs='0'
                       maxOccurs='unbounded'>
                <xs:element ref='link' />
                <xs:element ref='img' />
                <xs:element ref='i' />
                <xs:element ref='tt' />
                <xs:element ref='rev' />
            </xs:choice>
        </xs:complexType>
    </xs:element>
 
    <xs:element name='biblio-id'>
        <xs:complexType mixed='true'>
            <xs:attribute name='class'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='doi' />
                        <xs:enumeration value='isbn' />
                        <xs:enumeration value='isrn' />
                        <xs:enumeration value='issn' />
                        <xs:enumeration value='library-of-congress' />
                        <xs:enumeration value='other' />
                        <xs:enumeration value='pub-number' />
                        <xs:enumeration value='uri' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='other-class' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='book'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='title' />
                <xs:element ref='subtitle'
                            minOccurs='0' />
                <xs:element ref='title-abbrev'
                            minOccurs='0' />
                <xs:element ref='book-info' />
                <xs:element ref='style-info' />
                <xs:element ref='story-info' />
                <xs:element ref='preface'
                            minOccurs='0' />
                <xs:element ref='chapter'
                            minOccurs='0'
                            maxOccurs='unbounded' />
                <xs:element ref='epilog'
                            minOccurs='0' />
            </xs:sequence>
            <xs:attributeGroup ref='com-attr-req' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='book-info'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='author-group'
                            minOccurs='0' />
                <xs:element ref='release-info'
                            minOccurs='0' />
                <xs:element ref='pub-date'
                            minOccurs='0' />
                <xs:element ref='copyright'
                            minOccurs='0' />
                <xs:element ref='publisher'
                            minOccurs='0' />
                <xs:element ref='legal-notice'
                            minOccurs='0' />
                <xs:element ref='edition'
                            minOccurs='0' />
                <xs:element ref='biblio-id'
                            minOccurs='0'
                            maxOccurs='unbounded' />
                <xs:element ref='keyword-set'
                            minOccurs='0' />
                <xs:element ref='abstract'
                            minOccurs='0' />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
    <xs:element name='br'>
        <xs:complexType>
            <xs:attributeGroup ref='com-attr' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='ch-preface'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='title' />
                <xs:choice minOccurs='0'
                           maxOccurs='unbounded'>
                    <xs:element ref='para' />
                    <xs:element ref='pre-fmt' />
                    <xs:element ref='quote' />
                    <xs:element ref='br' />
                </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref='com-attr-req' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='chapter'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='title' />
                <xs:element ref='subtitle'
                            minOccurs='0' />
                <xs:element ref='title-abbrev'
                            minOccurs='0' />
                <xs:element ref='chapter-info'
                            minOccurs='0' />
                <xs:element ref='prolog'
                            minOccurs='0' />
                <xs:element ref='unit'
                            maxOccurs='unbounded' />
                <xs:element ref='postlog'
                            minOccurs='0' />
            </xs:sequence>
            <xs:attributeGroup ref='com-attr-req' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='chapter-info'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='author-group'
                            minOccurs='0' />
                <xs:element ref='release-info'
                            minOccurs='0' />
                <xs:element ref='pub-date'
                            minOccurs='0' />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
    <xs:element name='city'>
        <xs:complexType mixed='true'></xs:complexType>
    </xs:element>
 
    <xs:element name='coauthor'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='honorific'
                            minOccurs='0' />
                <xs:element ref='first-name' />
                <xs:element ref='surname' />
                <xs:element ref='linage'
                            minOccurs='0' />
                <xs:element ref='other-name'
                            minOccurs='0' />
                <xs:element ref='affiliation'
                            minOccurs='0' />
                <xs:element ref='email'
                            minOccurs='0' />
                <xs:element ref='author-blurb'
                            minOccurs='0' />
            </xs:sequence>
            <xs:attributeGroup ref='com-attr-req' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='content'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='story-dtd'
                            minOccurs='0' />
                <xs:element ref='book'
                            maxOccurs='unbounded' />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
    <xs:element name='copyright'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='year'
                            maxOccurs='unbounded' />
                <xs:element ref='holder'
                            minOccurs='0'
                            maxOccurs='unbounded' />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
    <xs:element name='country'>
        <xs:complexType mixed='true'></xs:complexType>
    </xs:element>
 
    <xs:element name='def-base'>
        <xs:complexType mixed='true'>
            <xs:attributeGroup ref='id' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='def-content'>
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs='0'
                           maxOccurs='unbounded'>
                    <xs:element ref='para' />
                    <xs:element ref='pre-fmt' />
                    <xs:element ref='quote' />
                    <xs:element ref='br' />
                </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref='id' />
            <xs:attribute name='ch-draft'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='ch-final'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='ch-in-progress'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='ch-preface'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='ch-refs' />
            <xs:attribute name='link-fmt'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='default' />
                        <xs:enumeration value='full' />
                        <xs:enumeration value='long' />
                        <xs:enumeration value='short' />
                        <xs:enumeration value='text' />
                        <xs:enumeration value='plain' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='preface'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='prolog'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='thread-refs'
                          use='required' />
            <xs:attribute name='unit-draft'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='unit-final'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='unit-in-progress'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='unit-refs' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='def-draft'>
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs='0'
                           maxOccurs='unbounded'>
                    <xs:element ref='para' />
                    <xs:element ref='pre-fmt' />
                    <xs:element ref='quote' />
                    <xs:element ref='br' />
                </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref='id' />
            <xs:attribute name='def-base'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='def-img'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='def-link'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='def-thread'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='def-when'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='def-where'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='def-who'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='deleted'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='thread-all'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='thread-all-vp'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='thread-content'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='thread-id-vp'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='thread-ref'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='timeline'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='unit-outline'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='unit-title'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='unit-when'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='unit-where'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='unit-who'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
        </xs:complexType>
    </xs:element>
 
    <xs:element name='def-img'>
        <xs:complexType mixed='true'>
            <xs:attributeGroup ref='id' />
            <xs:attribute name='url'
                          use='required' />
            <xs:attribute name='base-ref'
                          use='required' />
            <xs:attribute name='width'
                          use='required' />
            <xs:attribute name='height'
                          use='required' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='def-link'>
        <xs:complexType mixed='true'>
            <xs:attributeGroup ref='id' />
            <xs:attribute name='url'
                          use='required' />
            <xs:attribute name='base-ref'
                          use='required' />
            <xs:attribute name='img-ref' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='def-print'>
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs='0'
                           maxOccurs='unbounded'>
                    <xs:element ref='para' />
                    <xs:element ref='pre-fmt' />
                    <xs:element ref='quote' />
                    <xs:element ref='br' />
                </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref='id' />
            <xs:attribute name='alink' />
            <xs:attribute name='auto-break'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='bgcolor'
                          use='required' />
            <xs:attribute name='bleed-bottom'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='0' />
                        <xs:enumeration value='0.125in' />
                        <xs:enumeration value='0.25in' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='bleed-left'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='0' />
                        <xs:enumeration value='0.125in' />
                        <xs:enumeration value='0.25in' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='bleed-right'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='0' />
                        <xs:enumeration value='0.125in' />
                        <xs:enumeration value='0.25in' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='bleed-top'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='0' />
                        <xs:enumeration value='0.125in' />
                        <xs:enumeration value='0.25in' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='body-family'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='helvetica' />
                        <xs:enumeration value='courier' />
                        <xs:enumeration value='times' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='body-size'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='8pt' />
                        <xs:enumeration value='9pt' />
                        <xs:enumeration value='10pt' />
                        <xs:enumeration value='11pt' />
                        <xs:enumeration value='12pt' />
                        <xs:enumeration value='13pt' />
                        <xs:enumeration value='14pt' />
                        <xs:enumeration value='15pt' />
                        <xs:enumeration value='16pt' />
                        <xs:enumeration value='17pt' />
                        <xs:enumeration value='18pt' />
                        <xs:enumeration value='19pt' />
                        <xs:enumeration value='20pt' />
                        <xs:enumeration value='21pt' />
                        <xs:enumeration value='22pt' />
                        <xs:enumeration value='23pt' />
                        <xs:enumeration value='24pt' />
                        <xs:enumeration value='25pt' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='ch-title-family'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='helvetica' />
                        <xs:enumeration value='courier' />
                        <xs:enumeration value='times' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='ch-title-size'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='8pt' />
                        <xs:enumeration value='9pt' />
                        <xs:enumeration value='10pt' />
                        <xs:enumeration value='11pt' />
                        <xs:enumeration value='12pt' />
                        <xs:enumeration value='13pt' />
                        <xs:enumeration value='14pt' />
                        <xs:enumeration value='15pt' />
                        <xs:enumeration value='16pt' />
                        <xs:enumeration value='17pt' />
                        <xs:enumeration value='18pt' />
                        <xs:enumeration value='19pt' />
                        <xs:enumeration value='20pt' />
                        <xs:enumeration value='21pt' />
                        <xs:enumeration value='22pt' />
                        <xs:enumeration value='23pt' />
                        <xs:enumeration value='24pt' />
                        <xs:enumeration value='25pt' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='ch-page-break'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='none' />
                        <xs:enumeration value='some-odd' />
                        <xs:enumeration value='all-odd' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='copyright-type'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='none' />
                        <xs:enumeration value='standard' />
                        <xs:enumeration value='commons' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='draft'
                          use='required' />
            <xs:attribute name='duplex'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='gutter'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='0' />
                        <xs:enumeration value='0.2in' />
                        <xs:enumeration value='0.25in' />
                        <xs:enumeration value='0.3in' />
                        <xs:enumeration value='3.5in' />
                        <xs:enumeration value='0.375in' />
                        <xs:enumeration value='0.4in' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='head-align'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='left' />
                        <xs:enumeration value='right' />
                        <xs:enumeration value='center' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='head-family'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='helvetica' />
                        <xs:enumeration value='courier' />
                        <xs:enumeration value='times' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='head-location'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='top' />
                        <xs:enumeration value='bottom' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='head-size'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='8pt' />
                        <xs:enumeration value='9pt' />
                        <xs:enumeration value='10pt' />
                        <xs:enumeration value='11pt' />
                        <xs:enumeration value='12pt' />
                        <xs:enumeration value='13pt' />
                        <xs:enumeration value='14pt' />
                        <xs:enumeration value='15pt' />
                        <xs:enumeration value='16pt' />
                        <xs:enumeration value='17pt' />
                        <xs:enumeration value='18pt' />
                        <xs:enumeration value='19pt' />
                        <xs:enumeration value='20pt' />
                        <xs:enumeration value='21pt' />
                        <xs:enumeration value='22pt' />
                        <xs:enumeration value='23pt' />
                        <xs:enumeration value='24pt' />
                        <xs:enumeration value='25pt' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='head-type'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='page-no' />
                        <xs:enumeration value='title' />
                        <xs:enumeration value='title-author' />
                        <xs:enumeration value='title-chapter' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='img-ref' />
            <xs:attribute name='line-height'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='100' />
                        <xs:enumeration value='110' />
                        <xs:enumeration value='120' />
                        <xs:enumeration value='130' />
                        <xs:enumeration value='150' />
                        <xs:enumeration value='200' />
                        <xs:enumeration value='220' />
                        <xs:enumeration value='240' />
                        <xs:enumeration value='260' />
                        <xs:enumeration value='280' />
                        <xs:enumeration value='300' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='link' />
            <xs:attribute name='margin'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='0.15in' />
                        <xs:enumeration value='0.25in' />
                        <xs:enumeration value='0.5in' />
                        <xs:enumeration value='0.75in' />
                        <xs:enumeration value='1in' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='multi-file'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='next-prev'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='output-type'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='html' />
                        <xs:enumeration value='pdf' />
                        <xs:enumeration value='ps' />
                        <xs:enumeration value='docbook' />
                        <xs:enumeration value='txt' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='page'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='3.47x4.54in' />
                        <xs:enumeration value='4.25x6.875in' />
                        <xs:enumeration value='6x9in' />
                        <xs:enumeration value='8.5x11in' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='page-height' />
            <xs:attribute name='page-width' />
            <xs:attribute name='text'
                          use='required' />
            <xs:attribute name='title-family'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='helvetica' />
                        <xs:enumeration value='courier' />
                        <xs:enumeration value='times' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='title-size'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='8pt' />
                        <xs:enumeration value='9pt' />
                        <xs:enumeration value='10pt' />
                        <xs:enumeration value='11pt' />
                        <xs:enumeration value='12pt' />
                        <xs:enumeration value='13pt' />
                        <xs:enumeration value='14pt' />
                        <xs:enumeration value='15pt' />
                        <xs:enumeration value='16pt' />
                        <xs:enumeration value='17pt' />
                        <xs:enumeration value='18pt' />
                        <xs:enumeration value='19pt' />
                        <xs:enumeration value='20pt' />
                        <xs:enumeration value='21pt' />
                        <xs:enumeration value='22pt' />
                        <xs:enumeration value='23pt' />
                        <xs:enumeration value='24pt' />
                        <xs:enumeration value='25pt' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='toc'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='vlink' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='def-style'>
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs='0'
                           maxOccurs='unbounded'>
                    <xs:element ref='para' />
                    <xs:element ref='pre-fmt' />
                    <xs:element ref='quote' />
                    <xs:element ref='br' />
                </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref='id' />
            <xs:attribute name='content-ref'
                          use='required' />
            <xs:attribute name='debug'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='draft'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='draft-ref'
                          use='required' />
            <xs:attribute name='print-ref'
                          use='required' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='def-thread'>
        <xs:complexType>
            <xs:choice minOccurs='0'
                       maxOccurs='unbounded'>
                <xs:element ref='para' />
                <xs:element ref='pre-fmt' />
                <xs:element ref='quote' />
                <xs:element ref='br' />
            </xs:choice>
            <xs:attributeGroup ref='id' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='def-when'>
        <xs:complexType>
            <xs:attribute name='year'
                          use='required' />
            <xs:attribute name='month'
                          use='required' />
            <xs:attribute name='day'
                          use='required' />
            <xs:attribute name='hour'
                          use='required' />
            <xs:attribute name='min'
                          use='required' />
            <xs:attribute name='gmt'
                          use='required' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='def-where'>
        <xs:complexType>
            <xs:choice minOccurs='0'
                       maxOccurs='unbounded'>
                <xs:element ref='para' />
                <xs:element ref='pre-fmt' />
                <xs:element ref='quote' />
                <xs:element ref='br' />
            </xs:choice>
            <xs:attributeGroup ref='id' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='def-who'>
        <xs:complexType>
            <xs:choice minOccurs='0'
                       maxOccurs='unbounded'>
                <xs:element ref='para' />
                <xs:element ref='pre-fmt' />
                <xs:element ref='quote' />
                <xs:element ref='br' />
            </xs:choice>
            <xs:attributeGroup ref='id' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='description'>
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs='0'
                           maxOccurs='unbounded'>
                    <xs:element ref='para' />
                    <xs:element ref='pre-fmt' />
                    <xs:element ref='quote' />
                    <xs:element ref='br' />
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
    <xs:element name='edition'>
        <xs:complexType mixed='true'></xs:complexType>
    </xs:element>
 
    <xs:element name='editor'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='honorific'
                            minOccurs='0' />
                <xs:element ref='first-name' />
                <xs:element ref='surname' />
                <xs:element ref='linage'
                            minOccurs='0' />
                <xs:element ref='other-name'
                            minOccurs='0' />
                <xs:element ref='affiliation'
                            minOccurs='0' />
                <xs:element ref='email'
                            minOccurs='0' />
                <xs:element ref='author-blurb'
                            minOccurs='0' />
            </xs:sequence>
            <xs:attributeGroup ref='com-attr-req' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='email'>
        <xs:complexType mixed='true'>
            <xs:attributeGroup ref='com-attr' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='end-date'>
        <xs:complexType mixed='true'>
            <xs:attributeGroup ref='date-time' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='epilog'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='title' />
                <xs:element ref='subtitle'
                            minOccurs='0' />
                <xs:element ref='title-abbrev'
                            minOccurs='0' />
                <xs:choice minOccurs='0'
                           maxOccurs='unbounded'>
                    <xs:element ref='para' />
                    <xs:element ref='pre-fmt' />
                    <xs:element ref='quote' />
                    <xs:element ref='br' />
                </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref='com-attr-req' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='fax'>
        <xs:complexType mixed='true'></xs:complexType>
    </xs:element>
 
    <xs:element name='file-prefix'>
        <xs:complexType mixed='true'></xs:complexType>
    </xs:element>
 
    <xs:element name='first-name'>
        <xs:complexType mixed='true'>
            <xs:attributeGroup ref='com-attr' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='holder'>
        <xs:complexType mixed='true'></xs:complexType>
    </xs:element>
 
    <xs:element name='honorific'>
        <xs:complexType mixed='true'>
            <xs:attributeGroup ref='com-attr' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='i'>
        <xs:complexType mixed='true'>
            <xs:choice minOccurs='0'
                       maxOccurs='unbounded'>
                <xs:element ref='link' />
                <xs:element ref='img' />
                <xs:element ref='b' />
                <xs:element ref='tt' />
                <xs:element ref='rev' />
            </xs:choice>
        </xs:complexType>
    </xs:element>
 
    <xs:element name='img'>
        <xs:complexType>
            <xs:attributeGroup ref='ref-r' />
            <xs:attribute name='float'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
        </xs:complexType>
    </xs:element>
 
    <xs:element name='keyword-set'>
        <xs:complexType mixed='true'></xs:complexType>
    </xs:element>
 
    <xs:element name='legal-notice'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='title'
                            minOccurs='0' />
                <xs:choice minOccurs='0'
                           maxOccurs='unbounded'>
                    <xs:element ref='para' />
                    <xs:element ref='pre-fmt' />
                    <xs:element ref='quote' />
                    <xs:element ref='br' />
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
    <xs:element name='linage'>
        <xs:complexType mixed='true'>
            <xs:attributeGroup ref='com-attr' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='link'>
        <xs:complexType mixed='true'>
            <xs:attributeGroup ref='ref-r' />
            <xs:attribute name='img'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='title'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='url'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='0' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
        </xs:complexType>
    </xs:element>
 
    <xs:element name='meta-description'>
        <xs:complexType mixed='true'></xs:complexType>
    </xs:element>
 
    <xs:element name='other-addr'>
        <xs:complexType mixed='true'></xs:complexType>
    </xs:element>
 
    <xs:element name='other-name'>
        <xs:complexType mixed='true'>
            <xs:attributeGroup ref='com-attr' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='outline'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='when'
                            minOccurs='0' />
                <xs:element ref='where'
                            minOccurs='0' />
                <xs:element ref='who'
                            minOccurs='0'
                            maxOccurs='unbounded' />
                <xs:element ref='description'
                            minOccurs='0' />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
    <xs:element name='p'>
        <xs:complexType mixed='true'>
            <xs:choice minOccurs='0'
                       maxOccurs='unbounded'>
                <xs:element ref='link' />
                <xs:element ref='img' />
                <xs:element ref='b' />
                <xs:element ref='i' />
                <xs:element ref='tt' />
                <xs:element ref='rev' />
            </xs:choice>
            <xs:attributeGroup ref='com-attr' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='para'>
        <xs:complexType mixed='true'>
            <xs:choice minOccurs='0'
                       maxOccurs='unbounded'>
                <xs:element ref='link' />
                <xs:element ref='img' />
                <xs:element ref='b' />
                <xs:element ref='i' />
                <xs:element ref='tt' />
                <xs:element ref='rev' />
            </xs:choice>
            <xs:attributeGroup ref='com-attr' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='phone'>
        <xs:complexType mixed='true'></xs:complexType>
    </xs:element>
 
    <xs:element name='pob'>
        <xs:complexType mixed='true'></xs:complexType>
    </xs:element>
 
    <xs:element name='post-code'>
        <xs:complexType mixed='true'></xs:complexType>
    </xs:element>
 
    <xs:element name='postlog'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='title' />
                <xs:choice minOccurs='0'
                           maxOccurs='unbounded'>
                    <xs:element ref='para' />
                    <xs:element ref='pre-fmt' />
                    <xs:element ref='quote' />
                    <xs:element ref='br' />
                </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref='com-attr' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='pre'>
        <xs:complexType mixed='true'>
            <xs:choice minOccurs='0'
                       maxOccurs='unbounded'>
                <xs:element ref='link' />
                <xs:element ref='img' />
                <xs:element ref='b' />
                <xs:element ref='i' />
                <xs:element ref='tt' />
                <xs:element ref='rev' />
            </xs:choice>
            <xs:attributeGroup ref='com-attr' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='pre-fmt'>
        <xs:complexType mixed='true'>
            <xs:choice minOccurs='0'
                       maxOccurs='unbounded'>
                <xs:element ref='link' />
                <xs:element ref='img' />
                <xs:element ref='b' />
                <xs:element ref='i' />
                <xs:element ref='tt' />
                <xs:element ref='rev' />
            </xs:choice>
            <xs:attributeGroup ref='com-attr' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='preface'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='title' />
                <xs:element ref='subtitle'
                            minOccurs='0' />
                <xs:element ref='title-abbrev'
                            minOccurs='0' />
                <xs:choice minOccurs='0'
                           maxOccurs='unbounded'>
                    <xs:element ref='para' />
                    <xs:element ref='pre-fmt' />
                    <xs:element ref='quote' />
                    <xs:element ref='br' />
                </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref='com-attr-req' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='prolog'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='title' />
                <xs:choice minOccurs='0'
                           maxOccurs='unbounded'>
                    <xs:element ref='para' />
                    <xs:element ref='pre-fmt' />
                    <xs:element ref='quote' />
                    <xs:element ref='br' />
                </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref='com-attr' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='pub-date'>
        <xs:complexType mixed='true'>
            <xs:attributeGroup ref='com-attr' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='publisher'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='publisher-name' />
                <xs:element ref='address'
                            minOccurs='0' />
            </xs:sequence>
            <xs:attributeGroup ref='com-attr-req' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='publisher-name'>
        <xs:complexType mixed='true'></xs:complexType>
    </xs:element>
 
    <xs:element name='quote'>
        <xs:complexType mixed='true'>
            <xs:choice minOccurs='0'
                       maxOccurs='unbounded'>
                <xs:element ref='link' />
                <xs:element ref='img' />
                <xs:element ref='b' />
                <xs:element ref='i' />
                <xs:element ref='tt' />
                <xs:element ref='rev' />
            </xs:choice>
            <xs:attributeGroup ref='com-attr' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='release-info'>
        <xs:complexType>
            <xs:attributeGroup ref='com-attr' />
            <xs:attribute name='date'
                          use='required' />
            <xs:attribute name='rev'
                          use='required' />
            <xs:attribute name='file' />
            <xs:attribute name='repository' />
            <xs:attribute name='root' />
            <xs:attribute name='source' />
            <xs:attribute name='svn-path' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='rev'>
        <xs:complexType mixed='true'>
            <xs:choice minOccurs='0'
                       maxOccurs='unbounded'>
                <xs:element ref='link' />
                <xs:element ref='img' />
                <xs:element ref='b' />
                <xs:element ref='i' />
                <xs:element ref='tt' />
            </xs:choice>
            <xs:attribute name='condition' />
            <xs:attribute name='id' />
            <xs:attribute name='lang' />
            <xs:attribute name='revision'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='in-progress' />
                        <xs:enumeration value='draft' />
                        <xs:enumeration value='final' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
            <xs:attribute name='revision-flag'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='changed' />
                        <xs:enumeration value='added' />
                        <xs:enumeration value='deleted' />
                        <xs:enumeration value='off' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
        </xs:complexType>
    </xs:element>
 
    <xs:element name='s'>
        <xs:complexType mixed='true'>
            <xs:choice minOccurs='0'
                       maxOccurs='unbounded'>
                <xs:element ref='link' />
                <xs:element ref='img' />
                <xs:element ref='b' />
                <xs:element ref='i' />
                <xs:element ref='tt' />
                <xs:element ref='rev' />
            </xs:choice>
            <xs:attributeGroup ref='com-attr' />
            <xs:attribute name='who-ref' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='start-date'>
        <xs:complexType mixed='true'>
            <xs:attributeGroup ref='date-time' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='state'>
        <xs:complexType mixed='true'></xs:complexType>
    </xs:element>
 
    <xs:element name='story-dtd'>
        <xs:complexType>
            <xs:attribute name='version'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='1' />
                        <xs:enumeration value='2' />
                        <xs:enumeration value='3' />
                        <xs:enumeration value='4' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
        </xs:complexType>
    </xs:element>
 
    <xs:element name='story-info'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='def-when' />
                <xs:choice minOccurs='0'
                           maxOccurs='unbounded'>
                    <xs:element ref='def-where' />
                    <xs:element ref='def-who' />
                    <xs:element ref='def-thread' />
                </xs:choice>
                <xs:element ref='ch-preface'
                            minOccurs='0' />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
    <xs:element name='street'>
        <xs:complexType mixed='true'></xs:complexType>
    </xs:element>
 
    <xs:element name='style-info'>
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs='0'
                           maxOccurs='unbounded'>
                    <xs:element ref='def-style' />
                    <xs:element ref='def-content' />
                    <xs:element ref='def-draft' />
                    <xs:element ref='def-print' />
                    <xs:element ref='def-base' />
                    <xs:element ref='def-img' />
                    <xs:element ref='def-link' />
                </xs:choice>
                <xs:element ref='meta-description' />
                <xs:element ref='file-prefix' />
            </xs:sequence>
            <xs:attribute name='style-ref'
                          use='required' />
            <xs:attribute name='thread-refs'
                          use='required' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='subtitle'>
        <xs:complexType mixed='true'>
            <xs:attributeGroup ref='com-attr' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='surname'>
        <xs:complexType mixed='true'>
            <xs:attributeGroup ref='com-attr' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='t'>
        <xs:complexType mixed='true'>
            <xs:choice minOccurs='0'
                       maxOccurs='unbounded'>
                <xs:element ref='link' />
                <xs:element ref='img' />
                <xs:element ref='b' />
                <xs:element ref='i' />
                <xs:element ref='tt' />
                <xs:element ref='rev' />
            </xs:choice>
            <xs:attributeGroup ref='com-attr' />
            <xs:attribute name='who-ref'
                          use='required' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='thread'>
        <xs:complexType>
            <xs:choice minOccurs='0'
                       maxOccurs='unbounded'>
                <xs:element ref='p' />
                <xs:element ref='pre' />
                <xs:element ref='s' />
                <xs:element ref='t' />
                <xs:element ref='quote' />
                <xs:element ref='br' />
            </xs:choice>
            <xs:attributeGroup ref='com-attr' />
            <xs:attribute name='ref'
                          use='required' />
            <xs:attribute name='who-refs'
                          use='required' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='title'>
        <xs:complexType mixed='true'>
            <xs:attributeGroup ref='com-attr' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='title-abbrev'>
        <xs:complexType mixed='true'>
            <xs:attributeGroup ref='com-attr' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='tt'>
        <xs:complexType mixed='true'>
            <xs:choice minOccurs='0'
                       maxOccurs='unbounded'>
                <xs:element ref='link' />
                <xs:element ref='img' />
                <xs:element ref='b' />
                <xs:element ref='i' />
                <xs:element ref='rev' />
            </xs:choice>
        </xs:complexType>
    </xs:element>
 
    <xs:element name='unit'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='title' />
                <xs:element ref='outline'
                            minOccurs='0' />
                <xs:element ref='thread'
                            maxOccurs='unbounded' />
            </xs:sequence>
            <xs:attributeGroup ref='com-attr-req' />
            <xs:attribute name='type'
                          use='required'>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:enumeration value='scene' />
                        <xs:enumeration value='sequel' />
                        <xs:enumeration value='other' />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
 
        </xs:complexType>
    </xs:element>
 
    <xs:element name='when'>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='start-date' />
                <xs:element ref='end-date' />
                <xs:element ref='description'
                            minOccurs='0' />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
    <xs:element name='where'>
        <xs:complexType>
            <xs:choice minOccurs='0'
                       maxOccurs='unbounded'>
                <xs:element ref='para' />
                <xs:element ref='pre-fmt' />
                <xs:element ref='quote' />
                <xs:element ref='br' />
            </xs:choice>
            <xs:attributeGroup ref='ref-r' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='who'>
        <xs:complexType>
            <xs:choice minOccurs='0'
                       maxOccurs='unbounded'>
                <xs:element ref='para' />
                <xs:element ref='pre-fmt' />
                <xs:element ref='quote' />
                <xs:element ref='br' />
            </xs:choice>
            <xs:attributeGroup ref='ref-r' />
        </xs:complexType>
    </xs:element>
 
    <xs:element name='year'>
        <xs:complexType mixed='true'></xs:complexType>
    </xs:element>
 
</xs:schema>
