src/style/story-4.dtd

<!-- ************************************** -->
<!-- Entitities -->

<!-- ******************* -->
<!-- Common Attr -->

<!ENTITY % id "id CDATA #REQUIRED">
<!ENTITY % ref-i "ref CDATA #IMPLIED">
<!ENTITY % ref-r "ref CDATA #REQUIRED">
<!ENTITY % bool "1|0">

<!ENTITY % com-attr "
condition CDATA #IMPLIED
id CDATA #IMPLIED
lang CDATA #IMPLIED
revision (in-progress|draft|final) #IMPLIED
revision-flag (changed|added|deleted|off) #IMPLIED
">

<!ENTITY % com-attr-req "
condition CDATA #IMPLIED
id CDATA #REQUIRED
lang CDATA #IMPLIED
revision (in-progress|draft|final) #REQUIRED
revision-flag (changed|added|deleted|off) #IMPLIED
">

<!ENTITY % date-time "
year CDATA #IMPLIED
month (1|2|3|4|5|6|7|8|9|10|11|12) #IMPLIED
day CDATA #IMPLIED
hour CDATA #IMPLIED
min CDATA #REQUIRED
gmt CDATA #IMPLIED
">
<!--
year - any integer
month - 1-12
day - 1-31
hour - 0-23
min - 0-59
gmt - -HH or +HH (GMT-8 = -08, HH is -12 to +11)
-->

<!ENTITY % font-family "helvetica|courier|times">
<!--
lulu fonts: 
	Arial (sans)
	Book Antiqua
	Bookman Old Style (serif)
	Century (serif)
	Courier (monospace)
	Garamond
	Palatino (serif)
	Tahoma
	Times New Roman (serif)
	Verdana
	Symbols 
Internal use:
	Helvetica, Arial, sans
	Courier, monospace
	Times, "Times New Roman", serif
-->
<!ENTITY % font-size "8pt|9pt|10pt|11pt|12pt|13pt|14pt|15pt|16pt|17pt|18pt|19pt|20pt|21pt|22pt|23pt|24pt|25pt">

<!-- ******************* -->
<!-- Common Elements -->

<!ENTITY % com-info "author-group?, release-info?, pub-date?">

<!ENTITY % com-person "honorific?, first-name, surname, linage?, other-name?, affiliation?, email?, author-blurb?">

<!ENTITY % simple-text "(p|para|pre|pre-fmt|quote|br)*">

<!ENTITY % thread-text "(p|para|pre|pre-fmt|quote|br|s|t)*">

<!ELEMENT author-group (author|coauthor|editor)*>

<!ELEMENT author (%com-person;)>
<!ATTLIST author
	%com-attr-req;
>

<!ELEMENT coauthor (%com-person;)>
<!ATTLIST coauthor
	%com-attr-req;
>

<!ELEMENT editor (%com-person;)>
<!ATTLIST editor
	%com-attr-req;
>

<!ELEMENT honorific (#PCDATA)>
<!ATTLIST honorific
	%com-attr;
>

<!ELEMENT first-name (#PCDATA)>
<!ATTLIST first-name
	%com-attr;
>

<!ELEMENT surname (#PCDATA)>
<!ATTLIST surname
	%com-attr;
>
<!ELEMENT linage (#PCDATA)>
<!ATTLIST linage
	%com-attr;
>

<!ELEMENT other-name (#PCDATA)>
<!ATTLIST other-name
	%com-attr;
>

<!ELEMENT affiliation (#PCDATA)>
<!ATTLIST affiliation
	%com-attr;
>

<!ELEMENT email (#PCDATA)>
<!ATTLIST email
	%com-attr;
>

<!ELEMENT author-blurb %simple-text;>
<!ATTLIST author-blurb
	%com-attr;
>

<!ELEMENT release-info EMPTY>
<!ATTLIST release-info
	%com-attr;
	date CDATA #REQUIRED
	rev CDATA #REQUIRED
	file CDATA #IMPLIED
	repository CDATA #IMPLIED
	root CDATA #IMPLIED
	source CDATA #IMPLIED
	svn-path CDATA #IMPLIED
>
<!--
root - for example: :ext:LOGNAME@moria.dynu.com:/data/public.cvs
repository - for example: app/story-xml/src
source - $Source: /repo/local.cvs/app/story-xml/src/story4/story.dtd,v $
rev - $Revision: 1.16 $
date -$Date: 2009/03/15 18:43:34 $
-->
<!ELEMENT pub-date (#PCDATA)>		<!-- yyyy-mm-dd -->
<!ATTLIST pub-date
	%com-attr;
>

<!ENTITY % com-title "title, subtitle?, title-abbrev?">

<!ELEMENT title (#PCDATA)>
<!ATTLIST title
	%com-attr;
>

<!ELEMENT subtitle (#PCDATA)>
<!ATTLIST subtitle
	%com-attr;
>

<!ELEMENT title-abbrev (#PCDATA)>
<!ATTLIST title-abbrev
	%com-attr;
>

<!-- ************************************** -->
<!ENTITY % text-style "(#PCDATA|link|img|b|i|tt|rev)*">
<!ELEMENT b (#PCDATA|link|img|i|tt|rev)*>
<!ELEMENT i (#PCDATA|link|img|b|tt|rev)*>
<!ELEMENT tt (#PCDATA|link|img|b|i|rev)*>
<!ELEMENT rev (#PCDATA|link|img|b|i|tt)*>
<!ATTLIST rev
	condition CDATA #IMPLIED
	id CDATA #IMPLIED
	lang CDATA #IMPLIED
	revision (in-progress|draft|final) #IMPLIED
	revision-flag (changed|added|deleted|off) #REQUIRED
>
<!--
no operation, only used to set the revision-flag
-->

<!ELEMENT link (#PCDATA)>
<!ATTLIST link
	%ref-r;
	img (%bool;) #IMPLIED
	title (%bool;) #IMPLIED
	url (%bool;) #IMPLIED
>
<!--
ref - def-link-id
img - <img src="url" alt="content"/>
content - if not blank
title - def-link content (default, if all else is empty)
url - (def-link url)
<a href="def-url">img content title url</a>
-->

<!ELEMENT img EMPTY>
<!ATTLIST img
	%ref-r;
	float (%bool;) #IMPLIED
>
<!--
ref - def-img-id
float - Let text flow around the image?  If the value is 1,
        and the output is non-html, and the image is > 2/3
        of the page width, then don't float the image.
        Default: 0
-->

<!ELEMENT para %text-style;>
<!ATTLIST para
	%com-attr;
>
<!-- Format as a block para -->

<!ELEMENT pre %text-style;>
<!ATTLIST pre
	%com-attr;
>

<!ELEMENT pre-fmt %text-style;>
<!ATTLIST pre-fmt
	%com-attr;
>

<!ELEMENT quote %text-style;>
<!ATTLIST quote
	%com-attr;
>
<!-- Format the same as a block para, but indent 10% on margins -->

<!ELEMENT p %text-style;>
<!ATTLIST p
	%com-attr;
>
<!-- Indented para style, justified -->

<!ELEMENT s %text-style;>
<!ATTLIST s
	%com-attr;
	who-ref CDATA #IMPLIED
>
<!--
story, say - ref id is the person talking, optional (output is not
affected, but this may be output in draft copies)
-->

<!ELEMENT t %text-style;>
<!ATTLIST t
	%com-attr;
	who-ref CDATA #REQUIRED
>
<!--
thought - ref id = the viewpoint id.  Only the thoughts of the
id, that match a thread's viewpoint id, will be printed.  Draft
copies may output all thought text (with the ids).
-->

<!--
Section break.  Either a blank line (print) or a short rule line (html).
-->
<!ELEMENT br EMPTY>
<!ATTLIST br
	%com-attr;
>

<!-- ************************************** -->
<!ELEMENT content  (story-dtd?, book+)>

<!-- ************************************** -->
<!ELEMENT story-dtd EMPTY>
<!ATTLIST story-dtd
	version (1|2|3|4) #REQUIRED
>

<!-- ************************************** -->
<!ELEMENT book (%com-title;, book-info, style-info, story-info, preface?, chapter*, epilog?)
>
<!ATTLIST book
	%com-attr-req;
>

<!ELEMENT book-info (%com-info;, copyright?, publisher?, legal-notice?, edition?, biblio-id*, keyword-set?, abstract?)>


<!ELEMENT copyright (year+, holder*)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT holder (#PCDATA)>

<!ELEMENT publisher (publisher-name, address?)>
<!ATTLIST publisher
	%com-attr-req;
>

<!ELEMENT publisher-name (#PCDATA)>
<!ELEMENT address (street*, pob?, city?, state?, post-code?, country?, phone*, fax?, email*, other-addr*)>
<!ELEMENT street (#PCDATA)>
<!ELEMENT pob (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT state (#PCDATA)>
<!ELEMENT post-code (#PCDATA)>
<!ELEMENT country (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT fax (#PCDATA)>
<!ELEMENT other-addr (#PCDATA)>

<!ELEMENT legal-notice (title?, %simple-text;)>

<!ELEMENT edition (#PCDATA)>

<!ELEMENT biblio-id (#PCDATA)>
<!ATTLIST biblio-id
	class (doi|isbn|isrn|issn|library-of-congress|other|pub-number|uri) #REQUIRED
	other-class CDATA #IMPLIED
>

<!ELEMENT keyword-set (#PCDATA)>

<!ELEMENT abstract (%simple-text;)>

<!ELEMENT style-info ((def-style|def-content|def-draft|def-print|def-base|def-img|def-link)*, meta-description, file-prefix)>
<!ATTLIST style-info
	style-ref CDATA #REQUIRED
	thread-refs CDATA #REQUIRED
>
<!--
style-ref - def-style id
thread-refs - editor content view
-->

<!ELEMENT def-style (%simple-text;)>
<!ATTLIST def-style
	%id;
	content-ref CDATA #REQUIRED
	debug (%bool;) #REQUIRED
	draft (%bool;) #REQUIRED
	draft-ref CDATA #REQUIRED
	print-ref CDATA #REQUIRED
>
<!--
print-ref - def-print id
content-ref - def-content id
draft-ref - def-draft id
-->

<!ELEMENT def-content (%simple-text;)>
<!ATTLIST def-content
	%id;
	ch-draft (%bool;) #IMPLIED
	ch-final (%bool;) #IMPLIED
	ch-in-progress (%bool;) #IMPLIED
	ch-preface (%bool;) #IMPLIED
	ch-refs CDATA #IMPLIED
	link-fmt (default|full|long|short|text|plain) #REQUIRED
	preface (%bool;) #IMPLIED
	prolog (%bool;) #IMPLIED
	thread-refs CDATA #REQUIRED
	unit-draft (%bool;) #IMPLIED
	unit-final (%bool;) #IMPLIED
	unit-in-progress (%bool;) #IMPLIED
	unit-refs CDATA #IMPLIED
>
<!--
Default: no, for missing attributes.
ch-preface - print the ch-preface?
preface - print preface/epilog?
prolog - print prolog/postlog?
thread - only print threads that have this id in their ref list
ch-refs - limit to this space sep. list of chapter ids
unit-refs - limit to this space sep. list of unit ids
link-fmt -
	default - use the link tag's attr (if pdf, no 'a' tag)
	full - force attr: img title, url, content (if pdf, no 'a' tag)
	long - force attr: title, url, content (if pdf, no 'a' tag)
	short - force attr: title, url (if pdf, no 'a' tag)
	text - force attr: title, url (no 'a' tag)
	plain - force attr: title (no 'a' tag)
-->

<!ELEMENT def-draft (%simple-text;)>
<!ATTLIST def-draft
	%id;
	def-base (%bool;) #IMPLIED
	def-img (%bool;) #IMPLIED
	def-link (%bool;) #IMPLIED
	def-thread (%bool;) #IMPLIED
	def-when (%bool;) #IMPLIED
	def-where (%bool;) #IMPLIED
	def-who (%bool;) #IMPLIED
        deleted (%bool;) #IMPLIED
	thread-all (%bool;) #IMPLIED
	thread-all-vp (%bool;) #IMPLIED
	thread-content (%bool;) #IMPLIED
	thread-id-vp (%bool;) #IMPLIED
	thread-ref (%bool;) #IMPLIED
	timeline (%bool;) #IMPLIED
	unit-outline (%bool;) #IMPLIED
	unit-title (%bool;) #IMPLIED
	unit-when (%bool;) #IMPLIED
	unit-where (%bool;) #IMPLIED
	unit-who (%bool;) #IMPLIED
>
<!--
Default: no, for missing attributes.
deleted - show deleted content?
thread-content - print content of threads
thread-all - show all threads, not just the thread defined in content.
thread-ref - show thread reference ids?
thread-id-vp - show thread viewpoint id?
thread-all-vp - output all viewpoint thoughts
preview-thread - use this for the editor view
timeline - show the when times across all active units
-->

<!ELEMENT def-print (%simple-text;)>
<!ATTLIST def-print
	%id;
	alink CDATA #IMPLIED
	auto-break (%bool;) #IMPLIED
	bgcolor CDATA #REQUIRED
	bleed-bottom (0|0.125in|0.25in) #IMPLIED
	bleed-left (0|0.125in|0.25in) #IMPLIED
	bleed-right (0|0.125in|0.25in) #IMPLIED
	bleed-top (0|0.125in|0.25in) #IMPLIED
	body-family (%font-family;) #REQUIRED
	body-size (%font-size;) #REQUIRED
	ch-title-family (%font-family;) #REQUIRED
	ch-title-size (%font-size;) #REQUIRED
	ch-page-break (none|some-odd|all-odd) #REQUIRED
	copyright-type (none|standard|commons) #REQUIRED
	draft CDATA #REQUIRED
	duplex (%bool;) #REQUIRED
	gutter (0|0.2in|0.25in|0.3in|0.35in|0.375in|0.4in) #REQUIRED
	head-align (left|right|center) #REQUIRED
	head-family (%font-family;) #REQUIRED
	head-location (top|bottom) #REQUIRED
	head-size (%font-size;) #REQUIRED
	head-type (page-no|title|title-author|title-chapter) #REQUIRED
	img-ref CDATA #IMPLIED
	line-height (100|110|120|130|150|200|220|240|260|280|300) #REQUIRED
	link CDATA #IMPLIED
	margin (0.15in|0.25in|0.5in|0.75in|1in) #REQUIRED
	multi-file (%bool;) #REQUIRED
	next-prev (%bool;) #IMPLIED
	output-type (html|pdf|ps|docbook|txt)  #REQUIRED
	page (3.47x4.54in|4.25x6.875in|6x9in|8.5x11in) #REQUIRED
	page-height CDATA #IMPLIED
	page-width CDATA #IMPLIED
	text CDATA #REQUIRED
	title-family (%font-family;) #REQUIRED
	title-size (%font-size;) #REQUIRED
	toc (%bool;) #REQUIRED
	vlink CDATA #IMPLIED
>
<!--
Default: 0 or "", for missing attributes (unless noted otherwise)
	auto-break - put a section break automatically between units (i.e. not first unit of a chapter)
	body-family - body font name
	body-size - body font point size
	ch-page-break - controls page breaks for chapters.  toc, preface, first chapter, epilog are always odd.
	ch-title-size - html: h2 size in css
	copyright-type - don't print if missing or '0'
	head-family - head font name
	head-size - html: h3 size in css
	line-height - percent, recommend 120 for single space, 240 for double
	output-type - htmlpdf|ps|docbook|txt
	title-size - html: h1 size in css
	toc - html: name link to ch. or create toc file of links, if muli-file
	toc - print toc?

non-html only:
	page - final page size, in inches (lulu sizes)
	page-height - if non-zero, will override page (include units)
	page-width - if non-zero, will override page (include units)
	margin - top, bottom, left, right margins
	gutter - space for binding, recommend 0.2in or 0.3in (inside edge)
	bleed-left - left page crop (usually 0)
	bleed-right - right page crop (lulu: 0.25, default: 0)
	bleed-top - top page crop (lulu: 0.125, default: 0)
	bleed-bottom - bottom page crop (lulu: 0.125, default: 0)
	duplex - double sided?  If yes, the gutter and bleed-right alternates,
         also the gutter, page no., and headings will alternate
	head-type -
		page-no - only page numbers
		title - numbers outside, title inside
		title-author - numbers outside, author even, title odd
		title-chapter - numbers outside, chapter even, title odd
	head-align
		- page no. is aways on outside edge, if there is
		  other text.  If just page-no head-type, then
		  head-align applies to the page-no.
		left - align non-page text to inside edge
		right - align non-page text to outside edge
		center - center the text
	head-location
		top - top of page, with a rule line below
		bottom - bottom of page, with a rule line above

html only:
	alink
	bgcolor - background color
	draft - draft color
	img-ref - html: def-img id (background image)
	link
	multi-file - yes: each ch in a file; no: single file
	next-prev - html: create next/prev chapter links, only if muli-file
	text - text color
	vlink
-->

<!ELEMENT def-base (#PCDATA)>
<!ATTLIST def-base
	%id;
>
<!--
Base url part to prepend to url attr in def-img and def-link.
(You'll want to make a base that is blank, for URLs that are
absolute (not relative to a base.)
Example:
http://www.moria.dynu.com/
file:///home/george/ver/public/app/story/src/
-->

<!ELEMENT def-img (#PCDATA)>	<!-- alt text -->
<!ATTLIST def-img
	%id;
	url CDATA #REQUIRED
	base-ref CDATA #REQUIRED
	width CDATA #REQUIRED
	height CDATA #REQUIRED
>
<!--
width and height units should not be specified in px
(pixels).  For html output the image size is converted
to pixes, from the width/height attr., with the ratio 72dpi
(which corresponds to the ratio of 72pt per inch)
-->

<!ELEMENT def-link (#PCDATA)>	<!-- label -->
<!ATTLIST def-link
	%id;
	url CDATA #REQUIRED
	base-ref CDATA #REQUIRED
	img-ref CDATA #IMPLIED
>
<!-- ref - img-id -->

<!ELEMENT meta-description (#PCDATA)>

<!ELEMENT file-prefix (#PCDATA)>
<!-- Prefix for ch files -->

<!ELEMENT story-info (def-when, (def-where|def-who|def-thread)*, ch-preface?)>

<!ELEMENT def-when EMPTY>
<!ATTLIST def-when
	year CDATA #REQUIRED
	month CDATA #REQUIRED
	day CDATA #REQUIRED
	hour CDATA #REQUIRED
	min CDATA #REQUIRED
	gmt CDATA #REQUIRED
>
<!--
Defaults, for attr not specified in "when" start-date's.
-->

<!ELEMENT def-where %simple-text;>
<!ATTLIST def-where
	%id;
>

<!ELEMENT def-who %simple-text;>
<!ATTLIST def-who
	%id;
>

<!ELEMENT def-thread %simple-text;>
<!ATTLIST def-thread
	%id;
>

<!ELEMENT preface (%com-title;, %simple-text;)>
<!ATTLIST preface
	%com-attr-req;
>

<!ELEMENT epilog (%com-title;, %simple-text;)>
<!ATTLIST epilog
	%com-attr-req;
>

<!ELEMENT ch-preface (title, %simple-text;)>
<!ATTLIST ch-preface
	%com-attr-req;
>

<!-- ****************** -->
<!ELEMENT chapter (%com-title;, chapter-info?, prolog?, unit+, postlog?)>
<!ATTLIST chapter
	%com-attr-req;
>

<!ELEMENT chapter-info (%com-info;)>

<!ELEMENT prolog (title, %simple-text;)>
<!ATTLIST prolog
	%com-attr;
>

<!ELEMENT postlog (title, %simple-text;)>
<!ATTLIST postlog
	%com-attr;
>

<!-- ****************** -->
<!ELEMENT unit (title, outline?, thread+)>
<!ATTLIST unit
	%com-attr-req;
	type (scene|sequel|other) #REQUIRED
>

<!ELEMENT outline (when?, where?, who*, description?)>

<!ELEMENT when (start-date, end-date, description?)>
<!ELEMENT start-date (#PCDATA)>
<!ATTLIST start-date
	%date-time;
>
<!ELEMENT end-date (#PCDATA)>
<!ATTLIST end-date
	%date-time;
>
<!--
If attr are missing from start-date, use def-when.
If attr are missing from end-date, get them from start-date.
-->

<!ELEMENT where %simple-text;>
<!ATTLIST where
	%ref-r;
>
<!-- ref - defwhere-id -->

<!ELEMENT who %simple-text;>
<!ATTLIST who
	%ref-r;
>
<!-- ref - defwho-id -->

<!ELEMENT description (%simple-text;)>

<!ELEMENT thread %thread-text;>
<!ATTLIST thread
	%com-attr;
	ref CDATA #REQUIRED
	who-refs CDATA #REQUIRED
>
<!--
refs - one or more def-thread-id's separated by spaces
who-refs - print only the t tags that have these "who" ids
-->
